.splash {
  background: url(http://localhost/lomba/public/image/banner.jpg);
  background-size: cover;
  height: 400px;
}

.contact {
  background: url(http://localhost/lomba/public/image/road.jpg);
  background-size: 100%;
  height: 500px;
}

.navbar {
  margin-bottom: 0px;
}

.contact h1 {
	color: #FFF;
}

.contact p {
	color: #FFF;
}

.contact input {
	margin-bottom: 15px;
	height: 50px;
}

.list-event {
	margin-top: 15px;
}

.contact textarea {
	margin-bottom: 15px;
}

.td-event {
	color: #000;
}

.td-event:hover {
	text-decoration: none;
	color: #00B16A;
}
.divider {
	height: 1px;
	width: 100%;
	background-color: #ddd;
	position: relative;
	margin: 60px 0 0px;
}

#toTop {
	position: fixed;
	z-index: 350;
	bottom: 40px;
	right: 35px;
	display: none;
}

.takganti {
	padding-left: 15px;
	width: 81%;
}

.img-home {
	width: 100%;
}

.divider:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
}
.logo-header {
	padding-top: 125px;
	width: 100%;
}

.about-section {
	margin-top: 50px;
}

.about-section h2 {
	font-size: 40px;
}

.batas-img-profil {
	margin-bottom: 15px;
}

.about-section p {
	font-size: 18px;
}

.sfnominasi-section {
	margin-top: 50px;
}

.sfnominasi-section h2 {
	font-size: 40px;
}

.sfnominasi-section p {
	font-size: 18px;
}

.team-section{
	background: url('../image/product-bg.png') 50% 0 repeat;
}

.team-section h2 {
	font-size: 40px;
}

.team-section p strong{
	font-size: 22px;
	color:#fff;
}

.team-section p{
	font-size: 18px;
	color:#FFF;
}

.color-overlay {
	background: rgba(46,204,113, 0.94);
	padding: 40px;
}

.img-about {
	height: 70%;
	width: 70%;
}



.bagian-home {
	margin-bottom: 100px;
}

.batas-btn {
	margin-top: 30px;
}

.contact-section {
	background: #000;
}